@import "../../scss/variables";

.wrapper {
  max-width: 820px;
  margin: 0 auto;
  margin-top: 100px;
}

.top {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  display: flex;
  align-items: center;
  gap: 17px;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  @media (max-width: 760px) {
    font-size: 26px;
    gap: 10px;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  @media (max-width: 550px) {
    font-size: 22px;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.clearWrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  line-height: 23px;
  gap: 7px;
  color: #b6b6b6;
  transition: all 0.4s;

  .clearText {
    margin-top: 5px;
  }

  svg {
    path {
      transition: stroke 0.4s;
    }
  }

  &:hover {
    color: #000000;

    svg {
      path {
        transition: stroke 0.4s;
        stroke: #000000;
      }
    }
  }
}

.bottom {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;

  @media (max-width: 830px) {
    font-size: 18px;
  }

  @media (max-width: 560px) {
    font-size: 16px;
  }

  @media (max-width: 440px) {
    font-size: 14px;
  }
}

.count {
  span {
    font-weight: 700;
  }
}

.totalPrice {
  span {
    font-weight: 700;
    color: $mainDecorColor;
  }
}
