.list {
    display: flex;
    gap: 10px;

    @media (max-width: 800px) {
        gap: 8px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.btn {
    padding: 12px 30px;
    font-weight: 700;
    letter-spacing: 0.015em;
    color: #2C2C2C;
    background: #F9F9F9;
    border-radius: 30px;
    transition: all 0.4s;

    @media (max-width: 900px) {
        padding: 8px 16px;
    }

    &:hover {
        color: #F9F9F9;
        background: #2C2C2C;
    }

    &.active {
        color: #F9F9F9;
        background: #2C2C2C;
    }
}