.wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 28px;
  font-weight: 700px;
}

.text {
  font-size: 20px;
  color: rgb(70, 70, 70);

  span {
    font-weight: 700;
    color: #000000;
  }
}
